# Data Cleaning and Exploration

### Project Proposal / Outline

Our project is to uncover patterns in worldwide suicide rates. We will examine the relationships between number of suicides across multiple countries, years, genders, ages and several demographic and socioeconomic factors in order to understand if there are underlying factors influencing suicide rates across the world.

### Team Members
* Ayala, Enrique
* Burnes, Javier
* Guarnieri, Richard
* Macias, Erick
* Rello, Carlos

### Setup

In [1]:
# import dependencies
import pandas as pd

### Import Data

In [2]:
# import suicides rates and demographic / socioeconomic UNESCO datasets
suicides_csv = pd.read_csv('Suicide_Rates_Overview_1985_to_2016/suicide_rates.csv')
unesco_csv = pd.read_csv('Demographic_and_Socioeconomic_UNESCO/DEMO_DS_29112019163028002.csv')

# create DataFrames
suicides_df = pd.DataFrame(suicides_csv)
unesco_df = pd.DataFrame(unesco_csv)

In [3]:
# display suicides_df
suicides_df.head(3)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X

In [4]:
# display unesco_df
unesco_df.head(3)

,DEMO_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1970,1970,2.859,NaN,NaN
1,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1971,1971,2.961,NaN,NaN
2,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1972,1972,2.744,NaN,NaN

### Clean up of country names i.e. non-existing countries, counties named differently in both tables, etc.

In [5]:
# create frame for countries in suicides_df that are not in unesco_df and choose a sample of 5 rows
suicides_df.loc[~suicides_df['country'].isin(unesco_df['Country'])].sample(5)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
7207,Czech Republic,1999,male,25-34 years,173,761534,22.72,Czech Republic1999,NaN,"64,867,483,193",6606,Generation X
26984,United States,1996,male,15-24 years,3724,18617800,20.00,United States1996,NaN,"8,100,201,000,000",32928,Generation X
27164,United States,2011,male,15-24 years,3959,22622559,17.50,United States2011,0.911,"15,517,926,000,000",53452,Millenials
7311,Czech Republic,2007,female,5-14 years,0,472986,0.00,Czech Republic2007,NaN,"189,227,050,760",19273,Generation Z
21815,Saint Vincent and Grenadines,2006,male,15-24 years,1,10473,9.55,Saint Vincent and Grenadines2006,NaN,"610,930,037",6142,Millenials

In [6]:
# see countries in suicides_df that are not in unesco_df
suicides_df.loc[~suicides_df['country'].isin(unesco_df['Country'])]['country'].unique()

array(['Czech Republic', 'Macau', 'Saint Vincent and Grenadines',
       'United Kingdom', 'United States'], dtype=object)

#### Clean up of Czech Republic

In [7]:
# search for countries in unesco_df in case country exists but is typed differently
unesco_df[(unesco_df['Country'].str.contains('Cze'))]['Country'].unique()

array(['Czechia'], dtype=object)

In [8]:
# replace country name in unesco_df
unesco_df['Country'].replace({
    'Czechia': 'Czech Republic',
}, inplace=True)

# re-run to see countries in suicides_df that are not in unesco_df
suicides_df.loc[~suicides_df['country'].isin(unesco_df['Country'])]['country'].unique()

array(['Macau', 'Saint Vincent and Grenadines', 'United Kingdom',
       'United States'], dtype=object)

#### Clean up of Macau

In [9]:
# search for countries in unesco_df in case country exists but is typed differently
unesco_df[(unesco_df['Country'].str.contains('Mac'))]['Country'].unique()

array(['North Macedonia', 'China, Macao Special Administrative Region'],
      dtype=object)

In [10]:
# replace country name in unesco_df
unesco_df['Country'].replace({
    'China, Macao Special Administrative Region': 'Macau',
}, inplace=True)

# re-run to see countries in suicides_df that are not in unesco_df
suicides_df.loc[~suicides_df['country'].isin(unesco_df['Country'])]['country'].unique()

array(['Saint Vincent and Grenadines', 'United Kingdom', 'United States'],
      dtype=object)

#### Clean up of Saint Vincent and Grenadines

In [11]:
# search for countries in unesco_df in case country exists but is typed differently
unesco_df[(unesco_df['Country'].str.contains('Saint'))]['Country'].unique()

array(['Saint Vincent and the Grenadines', 'Saint-Martin (French part)',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Helena',
       'Saint Pierre and Miquelon', 'Saint-Barthélemy'], dtype=object)

In [12]:
# replace country name in unesco_df
unesco_df['Country'].replace({
    'Saint Vincent and the Grenadines': 'Saint Vincent and Grenadines',
}, inplace=True)

# re-run to see countries in suicides_df that are not in unesco_df
suicides_df.loc[~suicides_df['country'].isin(unesco_df['Country'])]['country'].unique()

array(['United Kingdom', 'United States'], dtype=object)

#### Clean up of United Kingdom and United States

In [13]:
# search for countries in unesco_df in case country exists but is typed differently
unesco_df[(unesco_df['Country'].str.contains('United'))]['Country'].unique()

array(['United States Virgin Islands', 'United Republic of Tanzania',
       'United Arab Emirates', 'United States of America',
       'United Kingdom of Great Britain and Northern Ireland'],
      dtype=object)

In [14]:
# replace country name in unesco_df
unesco_df['Country'].replace({
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom'
}, inplace=True)

# re-run to see countries in suicides_df that are not in unesco_df
suicides_df.loc[~suicides_df['country'].isin(unesco_df['Country'])]['country'].unique()

array([], dtype=object)

### Clean up of UNESCO DataFrame

In [15]:
# display unesco_df
unesco_df.head()

,DEMO_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1970,1970,2.859,NaN,NaN
1,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1971,1971,2.961,NaN,NaN
2,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1972,1972,2.744,NaN,NaN
3,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1973,1973,2.491,NaN,NaN
4,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1974,1974,2.397,NaN,NaN

#### create country-year column to allow it to merge with suicides_df

In [16]:
# explore dtypes
unesco_df.dtypes

DEMO_IND       object
Indicator      object
LOCATION       object
Country        object
TIME            int64
Time            int64
Value         float64
Flag Codes     object
Flags          object
dtype: object

In [17]:
# change dtype from int64 to str to allow concatenation of Country and Time
unesco_df['Time'] = unesco_df['Time'].astype(str)
unesco_df.dtypes

DEMO_IND       object
Indicator      object
LOCATION       object
Country        object
TIME            int64
Time           object
Value         float64
Flag Codes     object
Flags          object
dtype: object

In [18]:
# create country-year column
unesco_df['country-year'] = unesco_df['Country'] + unesco_df['Time']

In [19]:
# pivot columns
unesco_df = unesco_df.pivot(index='country-year', columns='Indicator', values='Value').reset_index()
unesco_df.head(3)

Indicator,country-year,DEC alternative conversion factor (LCU per US$),"Fertility rate, total (births per woman)",GDP (constant LCU),GDP (current LCU),GDP (current US$),GDP at market prices (constant 2010 US$),GDP deflator (base year varies by country),GDP growth (annual %),GDP per capita (current LCU),...,Population aged 15-24 years,Population aged 25-64 years,Population aged 65 years or older,Population growth (annual %),Poverty headcount ratio at $1.90 a day (PPP) (% of population),"Prevalence of HIV, total (% of population ages 15-49)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,Rural population (% of total population),Total debt service (% of GNI),Total population
0,Afghanistan1970,45.0,7.45,NaN,7.869990e+10,1.748887e+09,NaN,NaN,NaN,7073.43401,...,2087.213,3839.638,294.047,2.47227,NaN,NaN,NaN,88.357,NaN,11173.642
1,Afghanistan1971,45.0,7.45,NaN,8.239990e+10,1.831109e+09,NaN,NaN,NaN,7216.77760,...,2128.966,3917.821,302.405,2.58800,NaN,NaN,NaN,87.979,NaN,11475.445
2,Afghanistan1972,45.0,7.45,NaN,7.180000e+10,1.595555e+09,NaN,NaN,NaN,6125.26565,...,2177.263,4005.496,309.809,2.62866,NaN,NaN,NaN,87.590,NaN,11791.215

### Merge Suicides and UNESCO DataFrames

In [20]:
# merge DataFrames
merged_df = pd.merge(suicides_df, unesco_df, on='country-year', how='left')
merged_df.head(3)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),...,Population aged 15-24 years,Population aged 25-64 years,Population aged 65 years or older,Population growth (annual %),Poverty headcount ratio at $1.90 a day (PPP) (% of population),"Prevalence of HIV, total (% of population ages 15-49)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,Rural population (% of total population),Total debt service (% of GNI),Total population
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,NaN,NaN,NaN,64.381,NaN,3124.894
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,NaN,NaN,NaN,64.381,NaN,3124.894
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,NaN,NaN,NaN,64.381,NaN,3124.894

In [21]:
# show columns
merged_df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation',
       'DEC alternative conversion factor (LCU per US$)',
       'Fertility rate, total (births per woman)', 'GDP (constant LCU)',
       'GDP (current LCU)', 'GDP (current US$)',
       'GDP at market prices (constant 2010 US$)',
       'GDP deflator (base year varies by country)', 'GDP growth (annual %)',
       'GDP per capita (current LCU)', 'GDP per capita (current US$)',
       'GDP per capita, PPP (constant 2011 international $)',
       'GDP per capita, PPP (current international $)',
       'GDP, PPP (constant 2011 international $)',
       'GDP, PPP (current international $)', 'GNI (current LCU)',
       'GNI per capita (current LCU)',
       'GNI per capita, Atlas method (current US$)',
       'GNI per capita, PPP (current international $)',
       'General government total expenditure (current LCU)',
       'Life expectancy at birth, total (years)',
       'Mortality rate, infant (per 1,000 live births)',
       'Official exchange rate (LCU per US$, period average)',
       'PPP conversion factor, GDP (LCU per international $)',
       'PPP conversion factor, private consumption (LCU per international $)',
       'Population aged 14 years or younger ', 'Population aged 15-24 years ',
       'Population aged 25-64 years ', 'Population aged 65 years or older ',
       'Population growth (annual %)',
       'Poverty headcount ratio at $1.90 a day (PPP) (% of population)',
       'Prevalence of HIV, total (% of population ages 15-49)',
       'Price level ratio of PPP conversion factor (GDP) to market exchange rate',
       'Rural population (% of total population)',
       'Total debt service (% of GNI)', 'Total population '],
      dtype='object')

In [22]:
# rename columns
summary_df = merged_df.rename(columns={
    'suicides_no': 'suicides',
    'suicides/100k pop': 'suicides/100k',
    'HDI for year': 'HDI',
    'Fertility rate, total (births per woman)': 'fertility_rate',
    'GDP (constant LCU)': 'GDP_cons_LCU',
    'GDP (current LCU)': 'GDP_curr_LCU',
    'GDP (current US$)': 'GDP_curr_US$',
    'GDP growth (annual %)  ': 'GDP_annual_growth(%)',
    'GDP per capita (current LCU)': 'GDP_pc_curr_LCU',
    'GDP per capita (current US$)': 'GDP_pc_curr_US$',
    'GDP per capita, PPP (constant 2011 international $)': 'GDP_pc_PPP_constant_2011_intl_$',
    'GDP per capita, PPP (current international $)': 'GDP_pc_PPP_current_intl_$',
    'GDP, PPP (constant 2011 international $)': 'GDP_PPP_cons_2011_intl_$',
    'GDP, PPP (current international $)': 'GDP_PPP_curr_intl_$',
    'GNI (current LCU)': 'GNI_curr_LCU',
    'GNI per capita (current LCU)': 'GNI_pc_curr_LCU',
    'GNI per capita, Atlas method (current US$)': 'GNI_pc_Atlas_curr_US$',
    'GNI per capita, PPP (current international $)': 'GNI_pc_PPP_curr_intl_$',
    'General government total expenditure (current LCU)': 'govt_total_exp_curr_LCU',
    'Life expectancy at birth, total (years)': 'life_expectancy',
    'Mortality rate, infant (per 1,000 live births)': 'mortality_infant_rate/1k_births',
    'Poverty headcount ratio at $1.90 a day (PPP) (% of population)': 'poverty_$1.90/day(%)',
    'Prevalence of HIV, total (% of population ages 15-49)': 'HIV_rate(%)',
    'Rural population (% of total population)': 'rural_pop(%)',
    'Total debt service (% of GNI)': 'debt_service(%_GNI)',  
})

In [23]:
# drop non-useful columns
summary_df.drop(columns=['country-year',
                        ' gdp_for_year ($) ',
                        'gdp_per_capita ($)',
                        'DEC alternative conversion factor (LCU per US$)',
                        'GDP at market prices (constant 2010 US$)',
                        'GDP deflator (base year varies by country)',
                        'Official exchange rate (LCU per US$, period average)',
                        'PPP conversion factor, GDP (LCU per international $)',
                        'PPP conversion factor, private consumption (LCU per international $)',
                        'Population aged 14 years or younger ',
                        'Population aged 15-24 years ',
                        'Population aged 25-64 years ',
                        'Population aged 65 years or older ',
                        'Population growth (annual %)',
                        'Price level ratio of PPP conversion factor (GDP) to market exchange rate',
                        'Total population ',
                        ], inplace=True)
summary_df.head()

,country,year,sex,age,suicides,population,suicides/100k,HDI,generation,fertility_rate,...,GNI_pc_curr_LCU,GNI_pc_Atlas_curr_US$,GNI_pc_PPP_curr_intl_$,govt_total_exp_curr_LCU,life_expectancy,mortality_infant_rate/1k_births,poverty_$1.90/day(%),HIV_rate(%),rural_pop(%),debt_service(%_GNI)
0,Albania,1987,male,15-24 years,21,312900,6.71,NaN,Generation X,3.164,...,5399.38481,730.0,NaN,NaN,71.76,40.5,NaN,NaN,64.381,NaN
1,Albania,1987,male,35-54 years,16,308000,5.19,NaN,Silent,3.164,...,5399.38481,730.0,NaN,NaN,71.76,40.5,NaN,NaN,64.381,NaN
2,Albania,1987,female,15-24 years,14,289700,4.83,NaN,Generation X,3.164,...,5399.38481,730.0,NaN,NaN,71.76,40.5,NaN,NaN,64.381,NaN
3,Albania,1987,male,75+ years,1,21800,4.59,NaN,G.I. Generation,3.164,...,5399.38481,730.0,NaN,NaN,71.76,40.5,NaN,NaN,64.381,NaN
4,Albania,1987,male,25-34 years,9,274300,3.28,NaN,Boomers,3.164,...,5399.38481,730.0,NaN,NaN,71.76,40.5,NaN,NaN,64.381,NaN

In [24]:
# show columns
summary_df.dtypes

country                             object
year                                 int64
sex                                 object
age                                 object
suicides                             int64
population                           int64
suicides/100k                      float64
HDI                                float64
generation                          object
fertility_rate                     float64
GDP_cons_LCU                       float64
GDP_curr_LCU                       float64
GDP_curr_US$                       float64
GDP growth (annual %)              float64
GDP_pc_curr_LCU                    float64
GDP_pc_curr_US$                    float64
GDP_pc_PPP_constant_2011_intl_$    float64
GDP_pc_PPP_current_intl_$          float64
GDP_PPP_cons_2011_intl_$           float64
GDP_PPP_curr_intl_$                float64
GNI_curr_LCU                       float64
GNI_pc_curr_LCU                    float64
GNI_pc_Atlas_curr_US$              float64
GNI_pc_PPP_curr_intl_$             float64
govt_total_exp_curr_LCU            float64
life_expectancy                    float64
mortality_infant_rate/1k_births    float64
poverty_$1.90/day(%)               float64
HIV_rate(%)                        float64
rural_pop(%)                       float64
debt_service(%_GNI)                float64
dtype: object

In [25]:
# re-order columns
cols = summary_df.columns.tolist()
cols = cols[:7] + list([cols[8]]) + list([cols[7]]) + list([cols[9]]) + cols[-6:] + list([cols[-7]]) + cols[10:-7]

In [26]:
#display final summary_df
summary_df = summary_df[cols]
summary_df

,country,year,sex,age,suicides,population,suicides/100k,generation,HDI,fertility_rate,...,GDP_pc_curr_LCU,GDP_pc_curr_US$,GDP_pc_PPP_constant_2011_intl_$,GDP_pc_PPP_current_intl_$,GDP_PPP_cons_2011_intl_$,GDP_PPP_curr_intl_$,GNI_curr_LCU,GNI_pc_curr_LCU,GNI_pc_Atlas_curr_US$,GNI_pc_PPP_curr_intl_$
0,Albania,1987,male,15-24 years,21,312900,6.71,Generation X,NaN,3.164,...,5.398347e+03,674.79338,NaN,NaN,NaN,NaN,1.664957e+10,5.399385e+03,730.0,NaN
1,Albania,1987,male,35-54 years,16,308000,5.19,Silent,NaN,3.164,...,5.398347e+03,674.79338,NaN,NaN,NaN,NaN,1.664957e+10,5.399385e+03,730.0,NaN
2,Albania,1987,female,15-24 years,14,289700,4.83,Generation X,NaN,3.164,...,5.398347e+03,674.79338,NaN,NaN,NaN,NaN,1.664957e+10,5.399385e+03,730.0,NaN
3,Albania,1987,male,75+ years,1,21800,4.59,G.I. Generation,NaN,3.164,...,5.398347e+03,674.79338,NaN,NaN,NaN,NaN,1.664957e+10,5.399385e+03,730.0,NaN
4,Albania,1987,male,25-34 years,9,274300,3.28,Boomers,NaN,3.164,...,5.398347e+03,674.79338,NaN,NaN,NaN,NaN,1.664957e+10,5.399385e+03,730.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Generation X,0.675,2.457,...,4.741785e+06,2050.44841,5370.8658,5675.30962,1.651955e+11,1.745595e+11,1.526090e+14,4.961653e+06,2110.0,5940.0
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Silent,0.675,2.457,...,4.741785e+06,2050.44841,5370.8658,5675.30962,1.651955e+11,1.745595e+11,1.526090e+14,4.961653e+06,2110.0,5940.0
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Generation Z,0.675,2.457,...,4.741785e+06,2050.44841,5370.8658,5675.30962,1.651955e+11,1.745595e+11,1.526090e+14,4.961653e+06,2110.0,5940.0
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Generation Z,0.675,2.457,...,4.741785e+06,2050.44841,5370.8658,5675.30962,1.651955e+11,1.745595e+11,1.526090e+14,4.961653e+06,2110.0,5940.0
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Boomers,0.675,2.457,...,4.741785e+06,2050.44841,5370.8658,5675.30962,1.651955e+11,1.745595e+11,1.526090e+14,4.961653e+06,2110.0,5940.0

In [27]:
# show columns
summary_df.dtypes

country                             object
year                                 int64
sex                                 object
age                                 object
suicides                             int64
population                           int64
suicides/100k                      float64
generation                          object
HDI                                float64
fertility_rate                     float64
life_expectancy                    float64
mortality_infant_rate/1k_births    float64
poverty_$1.90/day(%)               float64
HIV_rate(%)                        float64
rural_pop(%)                       float64
debt_service(%_GNI)                float64
govt_total_exp_curr_LCU            float64
GDP_cons_LCU                       float64
GDP_curr_LCU                       float64
GDP_curr_US$                       float64
GDP growth (annual %)              float64
GDP_pc_curr_LCU                    float64
GDP_pc_curr_US$                    float64
GDP_pc_PPP_constant_2011_intl_$    float64
GDP_pc_PPP_current_intl_$          float64
GDP_PPP_cons_2011_intl_$           float64
GDP_PPP_curr_intl_$                float64
GNI_curr_LCU                       float64
GNI_pc_curr_LCU                    float64
GNI_pc_Atlas_curr_US$              float64
GNI_pc_PPP_curr_intl_$             float64
dtype: object

### Save summary_df to use in Data Analysis NB

In [28]:
# save summary_df
summary_df.to_csv('cleaned_data.csv', index=False)